.stb-component-scrollbar {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 4px;
    vertical-align: bottom;
    background-color: #bbb;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-scrollbar.hidden {
        display: none; }
    .stb-component-scrollbar .thumb {
        display: block;
        width: 4px;
        min-height: 4px;
        background-color: #aaa; }
        .stb-component-scrollbar .thumb.hidden {
            display: none; }
    .stb-component-scrollbar.horizontal {
        display: block;
        height: 4.8px;
        width: 100%; }
        .stb-component-scrollbar.horizontal .thumb {
            display: inline-block;
            vertical-align: top;
            height: 4.8px;
            min-width: 4.8px; }
    .stb-component-scrollbar.focus {
        outline: 1px dashed red; }
